@import "tailwindcss";

@theme {
  --color-primary:#1b263b,;
  --color-secondary:#d4af37;
  --color-accent:#f5f5f5;
  --color-dark:#0d1b2a;

  --font-serif:"Playfair Display", "serif"
  --font-sans:"Poppins", "sans-serif"
}